$green: #BFDFD2;
$pink: #0792d1;
$red: #eb5d42;
$blue: #0792d1;
$yellow: #fdd72b;
$grey: #ABABAB;
$grey-2:#d8d8d8;
$darkBlue: #094E83;

//season 1
$pink1: #E1206F;
$yellow1: #FFF600;
$blue1: #26D4F7;
