$tiny: 12px;
$small: 16px;
$medium: 20px;
$large: 32px;
$massive : 50px;
$rf-sans: 'circular';
$rf-script: 'house-slant';

@import url("https://use.typekit.net/hhz8got.css");

@font-face {
    font-family: 'circular';
    src: url('style/fonts/lineto-circular-pro-bold.eot');
    src: url('style/fonts/lineto-circular-pro-bold.eot?#iefix') format('embedded-opentype'),
         url('style/fonts/lineto-circular-pro-bold.woff2') format('woff2'),
         url('style/fonts/lineto-circular-pro-bold.woff') format('woff'),
         url('style/fonts/lineto-circular-pro-bold.ttf') format('truetype'),
         url('style/fonts/lineto-circular-pro-bold.svg#acronymregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
