.rf-footer {
    min-height: rf-spacing(12.8);
    background-color: $red;
    padding-bottom: rf-spacing(0);

    @include mq($from: desktop) {
        padding-bottom: rf-spacing(7);
    }
}
.rf-footer__col {
    margin-top: rf-spacing(2);
    padding-top: rf-spacing(1);

    @include mq($from: desktop) {
        border-top: 0px;
        float: left;
        width: 19.9%;
        min-height: rf-spacing(11);
        padding-right: rf-spacing(1);
        padding-top: 0;
    }

    h1 {
        font-size: $medium;
        font-family: $rf-sans;
        color: #ffffff;
    }
    p {
        font-size: $small;
        font-family: $rf-sans;
        line-height: $small + 4px;
        color: #ffffff;
    }

    ul {
        margin-bottom: 20px;

        li {
            font-family: $rf-sans;
            line-height: $small + 4px;
        }
        a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.rf-pop {
        @include mq($from: desktop) {
            width: 30%;
            border-left: 0px;
        }
    }

    a {
        color: #ffffff;
    }
}

.rf-footer__logo {
    position: absolute;
    right: 0px;
    top: 50px;

    .rf-footer__logo-wrapper {
        width: 110px;
        transform: rotate(90deg);

        svg {
            width: 100%;
            height: auto;
        }
    }
}

.rf-pop__image {
    @include mq($from: desktop){
        width: 300px;
        height: 240px;
        position: relative;
        margin-top:rf-spacing(-19.8);
    }

    img {
        width: 20%;
        height: auto;
        position: relative;
        float: left;
        margin-right: rf-spacing(1);

        @include mq($from: desktop) {
            width: 50%;
            margin-right: 0;
            float: none;
        }

        @include mq($from: wide){
            position: absolute;
            width: 70%;
            height: auto;
        }
    }

    .rf-pop__two {
        display: none;
        @include mq($from: desktop) {
            margin-top: -150px;
            margin-left: -20px;
            display: block;
            opacity: 0;
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
        @include mq($from: wide) {
            margin-top: -30px;
            margin-left: -20px;
            display: block;
            opacity: 0;
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
    }

    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        25%{
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    p {
        position: relative;

        @include mq($from: desktop){
            position: absolute;
            bottom: 0px;
            line-height: $small + 4px;
        }

        span {
            padding-bottom: rf-spacing(0.5);
            padding-top: rf-spacing(0.5);
            border-bottom: 1px solid $red;
            color: #ffffff;
        }
    }
}

.rf-footer-shopify__basket {
    display: none;
}

#mc_embed_signup #mc-embedded-subscribe-form {
    padding: 0;
}

//newsletter styles
#mc_embed_signup_scroll {
    label {
        font-family: $rf-sans !important;
        font-size: $medium !important;
        color: $yellow !important;
    }

    input.email {
        background-color: white !important;
        border: none !important;
        border-radius: 0 !important;
        color: #333 !important;
        font-family: $rf-sans !important;
        width: 100% !important;
    }

    input.button {
        background-color: $yellow !important;
        font-family: $rf-sans !important;
        color: #333 !important;
        border-radius: 0;
    }
}
