/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//for development
#wpadminbar {
	display: none !important;
}

body{
    background-color: #f6f6f6;
	position: relative;
	overflow-x: hidden;
}

.rf-wrapper {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
	position: relative;

    @include mq($from: desktop) {
        width: 980px;
		overflow: visible;
    }
    @include mq($from: wide) {
        width: 1300px;
    }

	&.full-width {
		@include mq($from: desktop) {
	        width: 100%;
	    }
	}
}

@mixin highlightAnimation($parent, $child, $height) {
	#{$parent} {
		&:hover {
			#{$child} {
				color: #fff;

				&:after {
					width: 100%;
				}
			}
		}

		#{$child} {
			&:after {
				content: '';
		        display: block;
		        border-bottom: 3px solid $red;
		        height: $height;
		        width: 0%;
		        position: absolute;
		        left: 50%;
		        transform: translateX(-50%);
		        top: 0px;
		        transition: all 0.2s ease-in-out;
				z-index: -1;
			}
		}
	}
}

@mixin highlighter($selector, $height, $zindex) {
	#{$selector}:hover {
		color: #fff;

			&:after {
				width: 100%;
			}
	}

	#{$selector} {
		&:after {
			content: '';
			display: block;
			border-bottom: 3px solid $red;
			height: $height;
			width: 0%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0px;
			transition: all 0.2s ease-in-out;
			z-index: $zindex;
		}
	}
}

@function rf-spacing($multiplier) {
	@return 10px * $multiplier
};

.mobile-only {
	display: block;

	@include mq($from: desktop) {
		display: none;
	}
}

.desktop-only {
	display: none;

	@include mq($from: desktop) {
		display: block;
	}
}

//dev mode
.rf-temporary {
	&-block {
		display: none;
		
		&.block {
			display: block;
		}
	}
	&-none {
		&.none {
			display: none;
		}
	}
}



.rf-logo-secondary {
	display: none;
}
