.rf-featured {
    overflow: hidden;
    padding-top: rf-spacing(2);
}

.rf-featured-title {
    font-family: $rf-sans;
    font-size: $large;
    color: #121212;
    max-width: 100%;

    @include mq($from: desktop) {
        max-width: 260px;
        padding-left: rf-spacing(1);
    }
}

.rf-featured-images {
    height: 90px;
    float: left;
    margin-right: rf-spacing(1);
    margin-bottom: rf-spacing(1);
    padding-bottom: rf-spacing(2);

    @include mq($from: desktop) {
        margin-right: rf-spacing(1);
        height: 110px;
    }

    @include mq($from: wide) {
        height: 115px;
    }

    img {
        height: 100%;
        width: auto;
        display: block;
    }
}
