.temporaray-artists-test {
    .rf-artist__print {
        @include mq($from: desktop) {
            overflow: hidden;
        }
    }
    .rf-home__buy-button {
        order: 2;
        @include mq($from: desktop) {
            width: 25%;
            padding-top: 0;
            order: 1;
        }
    }

    .rf-artist_print__custom {
        margin-bottom: rf-spacing(4);
        display: flex;
        flex-direction: column;
        @include mq($from: desktop) {
            overflow: hidden;
            flex-direction: row;
        }
    }

    .rf-product__image--wrapper {
        position: relative;
        order: 1;
        flex-basis: 100%;

        @include mq($from: desktop) {
            width: 74%;
            margin-left: 1%;
            flex-basis: 74%;
            order: 2;
        }

        &.landscape {
            .rf-product__image--background.landscape {
                display: block;
            }
            .rf-product__image--background.portrait {
                display: none;
            }

            .rf-product--artwork {
                mix-blend-mode: multiply;
                opacity: 0.85;
                position: absolute;
                width: 38.3vw;
                left: 32.1vw;
                top: 9.6vw;

                @include mq($from: desktop) {
                    width: 290px;
                    left: 245px;
                    top: 70px;
                }
                @include mq($from: wide) {
                    width: 393px;
                    left: 322px;
                    top: 88px;
                }
            }
        }

        .rf-buttons-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }

        .rf-intro-cta {
            float: left;
            font-family:$rf-sans;

            span {
                display: inline-block;

                &.button {
                    background-color: $blue;
                    border: 2px solid $blue;
                    padding: rf-spacing(1);
                    font-size: $medium;
                    margin-right: rf-spacing(1);
                    color: #fff;

                    &:hover {
                        background-color: $red;
                        border: 2px solid $red;
                    }

                    &.white {
                        display: block;
                    }
                    &.black {
                        display: none;
                    }
                }
            }

            &.show {
                .button.white {
                    display: none;
                }

                .button.black {
                    display: block;
                }
            }
        }
    }

    .rf-products__images {
        position: relative;

        &.rf-white-container, &.rf-black-container {
            display: none;

            &.show {
                display: block;
            }
        }

        .rf-product__image--background {
            object-fit: contain;

            &.landscape {
                display: none;
            }
        }

        .rf-product--artwork {
            mix-blend-mode: multiply;
            opacity: 0.85;
            position: absolute;
            width: 26.3vw;
            left: 35.1vw;
            top: 9.6vw;

            @include mq($from: desktop) {
                width: 200px;
                left: 263px;
                top: 70px;
            }
            @include mq($from: wide) {
                width: 273px;
                left: 345px;
                top: 88px;
            }
        }
    }
}
