.rf-about-header__wrapper, .rf-production, .rf-framing, .rf-packaging {
    height: 90vh;
    width: 100%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.rf-framing {
    background-color: #ececec;

    img {
        @include mq($from: desktop) {
            width: 74%;
        }
        @include mq($from: wide) {
            width: 68%;
        }
    }
}

.rf-packaging {
    img {
        @include mq($from: desktop) {
            object-position: 0px -115px;
        }
    }
}

.rf-production {
    img {
        @include mq($from: wide) {
            object-position: 0px -52px;
        }
        @include mq($from: wide) {
            object-position: 0px -332px;
        }
    }
}

.rf-about-header__wrapper {
    height: 50vh;
    margin-top: 60px;
    @include mq($from: desktop) {
        height: 90vh;
        margin-top: 0;
    }

    img {
        @include mq($from: desktop) {
            object-position: top;
        }
        @include mq($from: wide) {
            object-position: 0 -57px;
        }
    }
}

.rf-people {
    background-color: $darkBlue;
    color: #fff;



    .rf-col {
        img {
            border-radius: 50%;
            padding-left: 10px;
        }
        p {
            opacity:0.7;
        }
    }

    .rf-col {
        padding-top: rf-spacing(1);

        @include mq($from: desktop) {
            padding-top: 0;
        }
    }

    .rf-col {
        h1, h2, p {
            padding-left: 10px;
        }
    }
}

.rf-about-statement {
    color: #fff;
    background-color: $darkBlue;
    padding-top: rf-spacing(2);

    .rf-col {
        h1, h2 {
            padding-left: 10px;
        }
    }

    &.rf-home-statement {
        background-color: #fff;
        color: #121212;

        .rf-col {
            a {
                position: relative;
                color: inherit;
                text-decoration: inherit;
                display: inline;
                border-bottom: 1px solid rgba(0,0,0,0.5);

                &:hover {
                    border-bottom: 1px solid rgba(0,0,0,1);
                }
            }
        }
    }
}

.rf-production__inner, .rf-framing__inner, .rf-packaging__inner {
    position: absolute;
    bottom: 50px;
    left: 0;
    font-family: $rf-sans;

    h1 {
        font-size: $large;
    }

    p {
        font-size: $small + 2px;
        font-family: $rf-sans-book;

        @include mq($from: desktop) {
            font-size: $medium;
            line-height: $medium + 4px;
        }
    }
}

.rf-packaging__inner, .rf-framing__inner, .rf-production__inner {
    width: 100%;
}

.rf-framing__inner-container {
    background-color: $yellow;
    width: 300px;
    padding: rf-spacing(1);

    .rf-production__inner & {
        background-color: $blue;
    }

    .rf-framing__inner & {
        background-color: $red;
        margin-left: auto;
    }
}

.rf-partner {
    background-color: #333;
    color: #fff;
    padding-top: rf-spacing(2);

    .rf-col {
        h1, h2, p {
            padding-left: 10px;
        }
    }
}
