//this file should only be used to style the desktop product overview page
.rf-home__product-container {
    @include mq($from: desktop) {
        overflow: hidden;
        padding-top: 90px;
    }
}

.rf-single__artists-name.rf-old-seasons {
    padding-top: 70px;
    padding-bottom: 70px;
}

.rf-products__overview-divide {
    background-color: #ececec;
}

.rf-home__product-wrapper.products-overview {
    position: relative;

    @include mq($from: desktop) {
        width: 21.8%;
        float: left;
        margin-right: 1.2%;
        margin-left: 1%;
        height: auto;
    }

    &:nth-child(4n) {
        @include mq($from: desktop){
            margin-right: 0;
        }
    }

    &:nth-child(odd) {
        .rf-home__product-image {
            background-color: $blue;
        }
    }

    &:nth-child(3n) {
        .rf-home__product-image {
            background-color: $yellow;
        }
    }

    &:before {
        position: absolute;
        left: -14px;
        top: 0;
        bottom: -30px;
        width: 1px;
        background-color: #d8d8d8;
        content: '';
        display: none;

        @include mq($from: desktop) {
            display: block;
        }
    }

    &.journal-overview {
        .rf-home__product-image {
            border-radius: 0;

            img {
                mix-blend-mode: normal;
                filter:none;
                -webkit-filter:none;
            }
        }
    }

    .rf-home__product-image {
        border-radius: 50%;
        background-color: $red;
        overflow: hidden;

        @include mq($from: desktop) {
            width: 100%;
            position: relative;
            height: 16.5vw;
        }

        @include mq($from: wide) {
            height: 19vw;
        }

        &.rf-says {
            @include mq($from: desktop) {
                height: 290px;
                overflow: hidden;
            }
        }
    }

    &:hover {
        .rf-home__explore-button {
            background-color: $red;
            color: white;
            border: 1px solid $red;
        }
    }

    .rf-home__explore-button {
        border: 1px solid black;
        padding: rf-spacing(1.2) rf-spacing(0.6);
        width: max-content;
        margin-left: rf-spacing(1);
        margin-top: rf-spacing(1);
        transition: all ease-in-out 0.25s;
        font-family: $rf-sans;
        font-size: $small;
    }

    .product-link {
        z-index: 20;
    }

    .rf-home__price {
        border-bottom: 1px dotted black;
        width: 93%;
        padding-bottom: rf-spacing(0.5);
    }

    .rf-home__product-details {
        @include mq($from: desktop) {
            left: 0px;
            bottom: auto;
            top: auto;
            width: 100%;
            position: relative;
        }
    }

    &:nth-child(even) {
        .rf-home__product-details {
            @include mq($from: desktop) {
                left: 0px;
                right: auto;
            }
        }
    }
    .rf-home__product-title {
        @include mq($from: desktop) {
            margin-top: 0px;
            min-height: 50px;
            padding-top: 10px;
        }
    }
}

.rf-single__product-title p {
    @include mq($from: desktop) {
        border: none;
    }
}
